* {
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 92vb;
}

body {
    margin: 20px;
    background-color: thistle;
    /* 替換成您的背景圖片URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: black;*/
    height: 100%;
}

td,
tr {
    text-align: center;
    padding: 10px;
}

table {
    background-color: rgba(255,255,255, 0.5);
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
    height: 50%;
    width: 25%;
}

.table-title{
    font-weight: bold;
    font-size: larger;
}

.week-title{
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: -webkit-fill-available;
}