body {
	font-size:large;
	font-family:"標楷體";
	background-color:#FFC;
	text-align:center;
	width: 80%;
	margin: 1cm auto;
	}
a:visited {color:blue;}
a:link {color:blue;}
h1,h2,h3,h4 {color:red;}
table { 
	border-style:solid;
	border-color:#F8F8F8;
	margin:auto;
	text-align:center;
	empty-cells:show;
	}
th,td {
	color:blue;
	border-style:outset;
	border-color:#EEE;
	background-color:#f7efde;
	padding:5px;
	vertical-align: central;
	}
th	{color:green;}
td.school { /* :nth-child(3),td:nth-child(4) 榜單的錄取學校、系所欄 */
	text-align: left;
	}
input#goPage {text-align:center;}
