*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas{
    box-shadow: black 10px 10px 50px;
}