.keyboard_menu{
    border: 1px solid var(--border-color);
    background: var(--menu-background);
    position: absolute;
}

.keyboard_menu button{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background:none;
    height: 20px;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    padding-left: 10px;
    font-size: 10px;
}

.keyboard_menu button:focus{
    background: var(--menu-selected-background);
    outline: 0;
}

.keyboard_menu .option{
    position: relative;
}

.keyboard_menu .option .right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 3px;
}

.description_box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--menu-font-color);
    border-top: 1px solid var(--border-color);
    background: var(--menu-background);
    padding: 2px;
}

.description_box p{
    font-size: 10px;
    margin: 0;
}

/*battle specific*/
.battle .keyboard_menu{
    right: 0;
    bottom: 0;
    width: 140px;
}